<nav class="sticky-top navbar navbar-expand navbar-dark bg-dark justify-content-between">
      <div class="navbar-nav">
            <a class="nav-link active" href="/categories">Categories</a>
            <a class="nav-link active" href="/cart">Cart</a>
      </div>
      
      <div class="navbar-nav">
            <a class="nav-link active">[<span id="userName"></span>]</a>
            <a class="nav-link active" href="/logout">Logout</a>
      </div>
</nav>


<script>
      let str=document.cookie;
      let userName=str.split('userName=')[1];
      $('#userName').text(userName);
</script>
